ML соревнование по предсказанию уровня сеймоустройчивости здания (классификация) на [DrivenData](https://www.drivendata.org/competitions/57/nepal-earthquake/). Данные по землетрясению в Непале. <br><br>
Текущее место: **46/2804** <br>
Текущий скор: **0.7501** (у лидера — 0.7558). <br><br>
**Кратко о данных**: 39 признаков, связанных с кодированной геолокацией, материалами здания, типом организаций в здании, его габаритами, этажностью. <br> **Таргет**: 3 класса (1 - худшая сейсмоустойчивость, 3 - лучшая). Отношение классов ~ 1 : 5.5 : 3.5. <br><br>
**Train**: ~260600 зданий.  <br>
**Test**: ~86000 зданий. <br> 
**Метрика**: F1-micro.

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import f1_score, confusion_matrix

from lightgbm import LGBMClassifier

Изначальный вид данных:

In [ ]:
df = pd.read_csv('train_values.csv')
df.head()

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 39 columns]

Предподготовка:

- Посмотрели распределение таргета и некоторых численных столбцов.
- Детальнее проанализировали данные. Для всех выводов хватило базовых популярных функций: *describe*, *nunique*, *unique*, *isna*.

In [ ]:
def target_encoding(df):
  for column in obj_columns:
    lens = df.groupby(column)['target'].agg('count') # смотрим, как распределён таргет при каждом значении выбранного столбца
    lens_1 = df[df.target == 1].groupby(column)['target'].agg('count')
    lens_2 = df[df.target == 2].groupby(column)['target'].agg('count')
    lens_3 = df[df.target == 3].groupby(column)['target'].agg('count')
    ratio_1 = lens_1 / lens
    ratio_2 = lens_2 / lens
    ratio_3 = lens_3 / lens
    df[column + '_1'] = df.merge(ratio_1, how = 'left', on = column)['target_y']
    df[column + '_2'] = df.merge(ratio_2, how = 'left', on = column)['target_y']
    df[column + '_3'] = df.merge(ratio_3, how = 'left', on = column)['target_y']
    df = df.fillna(0.333)
  print('Train encoding: done')
  return df

def target_encoding_test(df_test): # то же самое, что и предыдущая функция, но для теста
  for column in obj_columns:
    lens = df.groupby(column)['target'].agg('count')
    lens_1 = df[df.target == 1].groupby(column)['target'].agg('count')
    lens_2 = df[df.target == 2].groupby(column)['target'].agg('count')
    lens_3 = df[df.target == 3].groupby(column)['target'].agg('count')
    ratio_1 = lens_1 / lens
    ratio_2 = lens_2 / lens
    ratio_3 = lens_3 / lens
    lens_transform = lens / len(df)
    df_test[column + '_1'] = df_test.merge(ratio_1, how = 'left', on = column)['target']
    df_test[column + '_2'] = df_test.merge(ratio_2, how = 'left', on = column)['target']
    df_test[column + '_3'] = df_test.merge(ratio_3, how = 'left', on = column)['target']
    df_test = df_test.fillna(0.333)
  print('Test encoding: done')
  return df_test

def preprocessing(df):
  df.drop(columns = 'building_id', inplace = True)
  df['percentage_production'] = df.area_percentage * df.height_percentage
  df['families_per_floor'] = df.count_families / df.count_floors_pre_eq
  df['geo_level_id_2_round_10'] = df.geo_level_2_id.astype('int').round(-1)
  df['geo_level_id_2_round_100'] = df.geo_level_2_id.astype('int').round(-2)
  df['geo_level_id_3_round_10'] = df.geo_level_3_id.astype('int').round(-1)
  df['geo_level_id_3_round_100'] = df.geo_level_3_id.astype('int').round(-2)
  print('Preprocessing: done')
  return df

def reduce_mem_usage(df, verbose=True): # готовая функция, взята с Kaggle
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
df = pd.read_csv('train_values.csv')
df_test = pd.read_csv('test_values.csv')
labels = pd.read_csv('train_labels.csv')
df['target'] = labels.damage_grade.values

# список столбцов для преобразования
obj_columns = df.loc[:, 'land_surface_condition':'plan_configuration'].columns.tolist()
obj_columns.append('geo_level_1_id')
obj_columns.append('geo_level_2_id')
obj_columns.append('count_floors_pre_eq')
obj_columns.append('legal_ownership_status')
obj_columns.append('age')

# обработка
df = preprocessing(df)
df_test = preprocessing(df_test)
df = target_encoding(df)
df_test = target_encoding_test(df_test)

# столбцы на удаление
obj_columns = df.loc[:, 'land_surface_condition':'plan_configuration'].columns.tolist()
obj_columns.append('legal_ownership_status')
obj_columns.append('has_secondary_use_health_post')
obj_columns.append('has_secondary_use_gov_office')
obj_columns.append('has_secondary_use_use_police')
df.drop(columns = obj_columns, inplace = True)
df_test.drop(columns = obj_columns, inplace = True)

X = df.copy()
X_test = df_test.copy()
X.drop(columns = 'target', inplace = True)
y = df.target

X = reduce_mem_usage(X)
X_test = reduce_mem_usage(X_test)

# фичи на удаление, определённые как самые «бесполезные» через feature_importance
to_drop = ['has_secondary_use_school', 'has_secondary_use_institution', 'land_surface_condition_2', 'roof_type_3', 'legal_ownership_status_3', 'has_secondary_use_industry', \
           'position_3', 'other_floor_type_2', 'foundation_type_3', 'has_secondary_use_other', 'geo_level_id_2_round_100', 'plan_configuration_3', 'has_secondary_use_rental',
           'count_floors_pre_eq_3']
X.drop(columns = to_drop, inplace = True)
X_test.drop(columns = to_drop, inplace = True)

Preprocessing: done
Preprocessing: done
Train encoding: done
Test encoding: done
Mem. usage decreased to 28.33 Mb (79.3% reduction)
Mem. usage decreased to  9.44 Mb (79.3% reduction)

Рабочие данные:

In [ ]:
X.head(3)

   geo_level_1_id  geo_level_2_id  geo_level_3_id  ...     age_1     age_2     age_3
0               6             487           12198  ...  0.035492  0.579102  0.385254
1               8             900            2812  ...  0.112122  0.575195  0.312744
2              21             363            8973  ...  0.112122  0.575195  0.312744

[3 rows x 55 columns]

<h3>Итоговая модель</h3>

1. В качестве модели выступает Light GBM Classifier.
2. Параметры подбирались вручную.
3. Оценка параметров производилась на кроссвалидации на 5 фолдах. <br>
• Блок кода был абсолютно аналогичным, за исключением, что оценки складывались в список. <br>
• Удобство данных в том, что оценка кроссвалидации достаточно близка с результатом на тестовых данных. <br>
• При оценке на кроссвалидации смотрел не только на средний скор, но и на дисперсию 5 оценок, чтобы оценка была более устойчивой. 
4. При обучении разбивали трейн на 9 фолдов и каждый раз обучались на 8/9 датасета, используя для валидации оставшую 1/9 данных. 
5. Каждое предсказание заносили в как столбец в датасет.
6. Итоговый результат = усреднение 9 предсказаний с округлением.

In [ ]:
fold = StratifiedKFold(n_splits = 9, random_state = 42)
res = pd.DataFrame()
res_val = []
i = 1
for train_index, test_index in fold.split(X, y):
  X_train, X_val = X.iloc[train_index], X.iloc[test_index]
  y_train, y_val = y.iloc[train_index], y.iloc[test_index]
  lgbc = LGBMClassifier(objective = 'multiclass',
                        n_estimators = 2500,
                        min_sum_hessian_in_leaf = 1,
                        lambda_l1 = 8,
                        lambda_l2 = 6,
                        min_data_in_leaf = 40,
                        learning_rate = 0.12)
  lgbc.fit(X_train, y_train, eval_set = [(X_val, y_val)], early_stopping_rounds = 50, verbose = 250)
  pred = lgbc.predict(X_test)
  print('Fold {} done. F1 score on validation set: {}'.format(i, f1_score(y_val, lgbc.predict(X_val), average = 'micro')))
  res_val.append(f1_score(y_val, lgbc.predict(X_val), average = 'micro'))
  res[i] = pred
  i += 1
print('Training: done. Mean validation score: {}'.format(np.mean(res_val)))

sub = res.mean(axis = 1).round().astype('int')
sf = pd.read_csv('submission_format.csv', index_col = 'building_id')
my_submission = pd.DataFrame(data = sub.values, columns = sf.columns, index = sf.index)
res_name = 'prediction.csv'
my_submission.to_csv(res_name)
print('Saved file {}'.format(res_name))

Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.580963
[500]	valid_0's multi_logloss: 0.571705
[750]	valid_0's multi_logloss: 0.56715
[1000]	valid_0's multi_logloss: 0.564398
[1250]	valid_0's multi_logloss: 0.562898
[1500]	valid_0's multi_logloss: 0.561813
[1750]	valid_0's multi_logloss: 0.560893
Early stopping, best iteration is:
[1828]	valid_0's multi_logloss: 0.560769
Fold 1 done. F1 score on validation set: 0.75089791407653
Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.576729
[500]	valid_0's multi_logloss: 0.566817
[750]	valid_0's multi_logloss: 0.561916
[1000]	valid_0's multi_logloss: 0.558915
[1250]	valid_0's multi_logloss: 0.557087
[1500]	valid_0's multi_logloss: 0.555982
[1750]	valid_0's multi_logloss: 0.554982
[2000]	valid_0's multi_logloss: 0.554618
Early stopping, best iteration is:
[2067]	valid_0's multi_logloss: 0.554513
Fold 2 done. F1 score on validation set: 0.7539024727172261
Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.584805
[500]	valid_0's multi_logloss: 0.575387
[750]	valid_0's multi_logloss: 0.570691
[1000]	valid_0's multi_logloss: 0.568079
[1250]	valid_0's multi_logloss: 0.566558
[1500]	valid_0's multi_logloss: 0.565662
[1750]	valid_0's multi_logloss: 0.564946
Early stopping, best iteration is:
[1914]	valid_0's multi_logloss: 0.564645
Fold 3 done. F1 score on validation set: 0.7461320624395634
Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.582361
[500]	valid_0's multi_logloss: 0.573046
[750]	valid_0's multi_logloss: 0.567655
[1000]	valid_0's multi_logloss: 0.565139
[1250]	valid_0's multi_logloss: 0.563382
[1500]	valid_0's multi_logloss: 0.562606
[1750]	valid_0's multi_logloss: 0.562251
Early stopping, best iteration is:
[1716]	valid_0's multi_logloss: 0.56219
Fold 4 done. F1 score on validation set: 0.7479969609062025
Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.574382
[500]	valid_0's multi_logloss: 0.564661
[750]	valid_0's multi_logloss: 0.55977
[1000]	valid_0's multi_logloss: 0.557209
[1250]	valid_0's multi_logloss: 0.555296
[1500]	valid_0's multi_logloss: 0.554326
[1750]	valid_0's multi_logloss: 0.553878
Early stopping, best iteration is:
[1714]	valid_0's multi_logloss: 0.55383
Fold 5 done. F1 score on validation set: 0.7523483906616935
Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.576104
[500]	valid_0's multi_logloss: 0.566206
[750]	valid_0's multi_logloss: 0.561612
[1000]	valid_0's multi_logloss: 0.55952
[1250]	valid_0's multi_logloss: 0.557966
[1500]	valid_0's multi_logloss: 0.557144
[1750]	valid_0's multi_logloss: 0.556543
[2000]	valid_0's multi_logloss: 0.556091
Early stopping, best iteration is:
[2016]	valid_0's multi_logloss: 0.556045
Fold 6 done. F1 score on validation set: 0.7503453515678962
Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.578604
[500]	valid_0's multi_logloss: 0.56894
[750]	valid_0's multi_logloss: 0.56376
[1000]	valid_0's multi_logloss: 0.560966
[1250]	valid_0's multi_logloss: 0.559514
[1500]	valid_0's multi_logloss: 0.558404
Early stopping, best iteration is:
[1698]	valid_0's multi_logloss: 0.557588
Fold 7 done. F1 score on validation set: 0.7465722673113452
Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.576528
[500]	valid_0's multi_logloss: 0.566551
[750]	valid_0's multi_logloss: 0.561743
[1000]	valid_0's multi_logloss: 0.558846
[1250]	valid_0's multi_logloss: 0.557264
[1500]	valid_0's multi_logloss: 0.556337
[1750]	valid_0's multi_logloss: 0.555541
[2000]	valid_0's multi_logloss: 0.555148
[2250]	valid_0's multi_logloss: 0.554979
Early stopping, best iteration is:
[2266]	valid_0's multi_logloss: 0.554922
Fold 8 done. F1 score on validation set: 0.753375928164393
Training until validation scores don't improve for 50 rounds.
[250]	valid_0's multi_logloss: 0.581872
[500]	valid_0's multi_logloss: 0.571825
[750]	valid_0's multi_logloss: 0.566701
[1000]	valid_0's multi_logloss: 0.563663
[1250]	valid_0's multi_logloss: 0.562095
[1500]	valid_0's multi_logloss: 0.561023
[1750]	valid_0's multi_logloss: 0.560424
Early stopping, best iteration is:
[1827]	valid_0's multi_logloss: 0.560222
Fold 9 done. F1 score on validation set: 0.7486099119323087
Training: done. Mean validation score: 0.7500201399752399
Saved file prediction.csv

Важнейшие фичи:

In [ ]:
pd.DataFrame({'feature': X.columns, 'lgb_imp': lgbc.feature_importances_}).sort_values(by = 'lgb_imp', ascending = False).head(25)

                     feature  lgb_imp
2             geo_level_3_id    17881
1             geo_level_2_id    14276
46          geo_level_2_id_2    13504
45          geo_level_2_id_1    13122
22     percentage_production    13009
47          geo_level_2_id_3    11096
5            area_percentage     8486
25   geo_level_id_3_round_10     7019
6          height_percentage     5415
0             geo_level_1_id     5371
53                     age_2     4915
43          geo_level_1_id_2     4676
42          geo_level_1_id_1     4522
4                        age     4037
54                     age_3     3486
23        families_per_floor     3197
26  geo_level_id_3_round_100     2827
44          geo_level_1_id_3     2439
52                     age_1     2405
24   geo_level_id_2_round_10     1610
36        other_floor_type_1     1323
33       ground_floor_type_1     1279
18            count_families     1150
34       ground_floor_type_2     1076
38                position_1     1068

<h3>Что не сработало<h3>


- XGBoost давал очень слабые результаты.
- Catboost также удалось дотюнить максимум до 0.742.
- Эффективно показывают себя фичи, связанные с target encoding'ом регионов геолокации 1 и 2 (более крупные регионы). Попытка кодировать также 3-й уровень геолокации (более детальный) приводит к резкому улучшению скора на трейне, но только к падению на тесте (очевидно, начинаем переобучаться под трейн). 
- Вместо predict было опробовано predict_proba. Смотрели, где будет лучшая накопленная вероятность после 9 обучений. Предполагалось, что это поможет лучше чувствовать границы между вариантами таргета. Результат был почти эквивалентен выбранной методике (predict + mean + round), но всё же чуть уступал.
- Отсутсвующие значения при target encoding'е заполняются значением 1/3. Пробовал заполнять их более детально (если где-то нет значений - там 0, в остальных - соответствующие доли), прироста это не дало.
- Попытка считать среднее значение таргета по различным данным в столбцах (с предположением, что 1,2 и 3 можно интерпретировать как количественное значение? условную «оценку»).